$headerImg: url("../img/m-h-night.jpg");

$mainBackground: #21232e;
$footerBackground: #3b3f50;

$buttonColor: #e3ac00;

$bannerGradient: linear-gradient(to right, #da9f08, #932d52);

$titleFont: 'Source Sans Pro', sans-serif;
$mainFont: 'Fresca', sans-serif;
$textColor: #fff;

$textBg: #ff4e33;