$headerImg: url("../img/m-h-day.jpg");

$mainBackground: #fff;
$footerBackground: #21232e;

$buttonColor: #699900;

$bannerGradient: linear-gradient(to right, #659510, #2d5bd6);

$titleFont: 'Source Sans Pro', sans-serif;
$mainFont: 'Hind', sans-serif;
$textColor: #2c2f3c;

$textBg: #14a0c7;